@page
@model EnterpriseManagementApp.Pages.Finance.Confirmations.ListStockIssueConfirmationModel
@{
    ViewData["Title"] = "List all CI's";
}
<div class="bg-light bg-opacity-10 py-2 mb-2">
    <div class="container text-center">
        <h1>All invoices</h1>
    </div>
</div>

<partial name="_Notification">


    @if (Model.StockIssueConfirmations != null && Model.StockIssueConfirmations.Any())
    {
        <div class="container" style="margin: 0 auto; width: 75%;">
            <table class="table text-center">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Invoice number</td>
                        <td>Company</td>
                        <td>Price net</td>
                        <td>Invoice date</td>
                        <td>Ready to release</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StockIssueConfirmations)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CINumber</td>
                            <td>@item.Company.NameOfCompany</td>
                            <td>@item.Net</td>
                            <td>@item.CIDate</td>
                            <td>@item.ProductionItem.ReceivedByMagazine</td>
                            <td>
                                <a href="/Finance/Confirmations/ViewStockIssueConfirmation/@item.Id" class="btn btn-primary">View</a>
                                <a href="/Finance/Confirmations/EditStockIssueConfirmation/@item.Id" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="container text-center pt-5">
            <p>
                There are no products to show
            </p>
        </div>
    }
