@page
@model EnterpriseManagementApp.Pages.Board.Finances.RevenuesModel
@{
    ViewData["Title"] = "Waiting CIs";
}
<div class="bg-light bg-opacity-10 py-2 mb-2">
    <div class="container text-center">
        <h1>Revenues</h1>
    </div>
</div>

<partial name="_Notification">


    @if (Model.StockIssueConfirmations != null && Model.StockIssueConfirmations.Any())
    {
        <div class="container" style="margin: 0 auto; width: 75%;">
            <table class="table text-center">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Invoice number</td>
                        <td>Company</td>
                        <td>Price net</td>
                        <td>Price gross</td>
                        <td>Tax class</td>
                        <td>Invoice date</td>
                        <td>Is paid</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var revenuesNet = 0;
                        var revenuesGross = 0;
                    }
                    @foreach (var item in Model.StockIssueConfirmations)
                    {
                        if (item.IsPaid == true)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CINumber</td>
                                <td>@item.Company.NameOfCompany</td>
                                <td>@item.Net</td>
                                <td>@item.Gross</td>
                                <td>@item.Tax.TaxClassName</td>
                                <td>@item.CIDate</td>
                                <td>@item.IsPaid</td>
                            </tr>
                            revenuesNet = revenuesNet + @item.Net;
                            revenuesGross = revenuesGross + @item.Gross;
                        }
                    }
                </tbody>
            </table>
            <div class="container mt-5" style="margin: 0 auto; width: 75%;">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <td>Revenues (net)</td>
                            <td>Revenues (gross)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@revenuesNet</td>
                            <td>@revenuesGross</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="container text-center pt-5">
            <p>
                There are no products to show
            </p>
        </div>
    }
