@page
@model EnterpriseManagementApp.Pages.Production.Products.ListModel
@{
}
<div class="bg-light bg-opacity-10 py-2 mb-2">
    <div class="container text-center">
        <h1>All already producted production items.</h1>
    </div>
</div>

<!-- Here is place for notifications. -->


@if (Model.ProductionItems != null && Model.ProductionItems.Any())
{
    <div class="container" style="width: 65%;">
        <table class="table text-center">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Type</td>
                    <td>Length</td>
                    <td>Diameter</td>
                    <td>Quantity pallets</td>
                    <td>Is ready</td>
                    <td>More Details</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductionItems)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Type</td>
                        <td>@item.Length</td>
                        <td>@item.Diameter</td>
                        <td>@item.QuantityPallets</td>
                        <td>@item.ReadyToPickUp</td>
                        <td>
                            <a class="btn btn-primary" href="/Production/Products/Edit/@item.Id">Show</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container text-center pt-5">
        <p>
            There is no products to show you.
        </p>
    </div>
}