@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnterpriseManagementApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnterpriseManagementApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <!-- Menu colors section -->
        @{
            var menuClass = "";
            var navStyle = "background-color: #5F99AB;";
            var buttonClass = "btn btn-light";

            if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                menuClass = "navbar-dark bg-dark";
                buttonClass = "btn btn-light";
            }
            else if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
            {
                menuClass = "navbar-dark bg-secondary";
                buttonClass = "btn btn-light";
            }
            else if (signInManager.IsSignedIn(User) && User.IsInRole("Production"))
            {
                navStyle = "background-color: #1F7CA5;";
            }
            else if (signInManager.IsSignedIn(User) && User.IsInRole("Magazine"))
            {
                navStyle = "background-color: #928D52;";
            }
            else if (signInManager.IsSignedIn(User) && User.IsInRole("Finance"))
            {
                navStyle = "background-color: #5B8B6D;";
            }
            else if (signInManager.IsSignedIn(User) && User.IsInRole("Board"))
            {
                navStyle = "background-color: #917B6E;";
            }

        }
        <!-- End of menu colors section -->

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm @menuClass" style="@navStyle">
            <div style="padding-left: 40px;" class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index">
                    <img src="~/images/logo-white.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right: 5px;">
                    EnterpriseManagementApp
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/FuncionalityTesting">Testing page</a>
                            </li>
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                        {
                            
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("Production"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Production/Products/Add">Add new product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Production/Products/List">Show all products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Production/Products/Search">Search for product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="#">Option</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="#">Option</a>
                            </li>
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("Magazine"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Magazine/Products/ProductionList">Pickup ready list</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Magazine/Products/Magazine">Magazine list</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Magazine/Products/StockLevel">Stock level</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Magazine/Products/ReleaseList">Ready to release</a>
                            </li>
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("Finance"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Finance/Invoices/AddInvoice">New Invoice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Finance/Invoices/InvoicesList">List Invoices</a>
                            </li>
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("Board"))
                        {

                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-light" asp-page="/Privacy">Privacy</a>
                            </li>
                        }
                    </ul>
                </div>

                <!-- Login section -->
                <div class="d-flex align-items-center">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div style="vertical-align: middle;" class="mt-2 mb-2 me-3">
                            <p class="text-light" style="margin: 0 auto;    ">Logged in as @User?.Identity?.Name</p>
                        </div>
                        <div class="mt-2 mb-2 me-3">
                            <a href="/Logout" class="@buttonClass">Click to log out</a>
                        </div>
                    }
                    else
                    {
                        <div class="mt-2 mb-2 me-3">
                            <a href="/Login" class="@buttonClass">Click to sign in</a>
                        </div>
                    }
                </div>
                <!-- End of login section -->

            </div>
        </nav>
    </header>
        <main role="main" class="pb-5">
            @RenderBody()
        </main>

    <footer class="border-top border-2 border-secondary footer text-muted bg-dark bg-opacity-10">
        <div class="container text-center">
            &copy; 2022 - EnterpriseManagementApp - <a class="link-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>